TWIL_accountSid=xxx
TWIL_authToken=xxx

YELP_consumerKey=xxx
YELP_consumerSecret=xxx
YELP_token=xxx
YELP_tokenSecret=xxx

FB_appID=xxx
FB_secret=xxx

MONGODB_URI=mongodb://localhost/quoted
SITE_URL=http://localhost:3000/