TWILIO_ACCOUNT_SID=xxxx
TWILIO_AUTH_TOKEN=xxxx
TWILIO_NUMBER=xxxx

YELP_consumerKey=xxxx
YELP_consumerSecret=xxxx
YELP_token=xxxx
YELP_tokenSecret=xxxx

FB_appID=xxxx
FB_secret=xxxx

MONGODB_URI=mongodb://localhost/quoted
SITE_URL=http://localhost:3000/