TWILIO_ACCOUNT_SID=ACa9e179d6d7d9dd66eccad64ae235eff5
TWILIO_AUTH_TOKEN=3c610f1e8d155e0220d8204a358b2140
TWILIO_NUMBER=4085603553

YELP_consumerKey=BiwsqBWyyGCe36w-kQc7Lg
YELP_consumerSecret=RjlPZAZU5duA868FWmm4ctZdNAs
YELP_token=8Gqefsxwn4u-v_QUYNTnx_ZYeFsiYjdX
YELP_tokenSecret=Ghn3d31ESGEk9kqWHUPOJl4MjmE

FB_appID=1223220461130444
FB_secret=1223220461130444

MONGODB_URI=mongodb://localhost/quoted
SITE_URL=http://localhost:3000/